<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="ddmPageSize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Page Size
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="ddmPageSize">
        <li><a href="?PageSize=5">5</a></li>
        <li><a href="?PageSize=10">10</a></li>
        <li><a href="?PageSize=20">20</a></li>
        <li><a href="?PageSize=30">30</a></li>
        <li><a href="?PageSize=40">40</a></li>
        <li><a href="?PageSize=50">50</a></li>
    </ul>
</div>
