<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="ddmSortOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sorting Order
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="ddmSortOrder">
        <li><a href="?OrderBy=desc">Desc</a></li>
        <li><a href="?OrderBy=asc">Asc</a></li>
    </ul>
</div>
